{erl_opts, [debug_info]}.
{deps, []}.

{
    relx,
    [
        {
            release,
            {lpg, "0.1.0"},
            [lpg, sasl]
        },

        {mode, dev},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"}
]}.

{
    profiles,
    [
        {
            prod,
            [
                {
                    relx,
                    [
                        {mode, prod}
                    ]
                }
            ]
        },
        {
            test,
            [
                {deps, []},
                {erl_opts, [debug_info]}
            ]
        }
    ]
}.
